<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
    <body>
        <header>
            <nav>
                <ul>
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'logout' %}"></a>Logout</li>
                    {% else %}
                    <li><a href="{% url 'signup' %}"></a>Sign Up</li>
                    <li><a href="{% url 'login' %}"></a>Login</li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        <main>
            <div>
                <h1>Signup</h1>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button>Signup</button>
                </form>
            </div>
        </main>
    </body>
</html>
