<!DOCTYPE html>
<html>
    <head>
        <title>

        </title>
    </head>
    <body>
        <header>
            <ul>
                <li><a href="{% url 'home' %}">My Receipts</a></li>
                <li><a href="{% url 'create_receipt' %}">Create Receipt</a></li>
                <li><a href="{% url 'category_list' %}">Category List</a></li>
                <li><a href="{% url 'account_list' %}">Account List</a></li>
                <li><a href="{% url 'create_category' %}">Create Category</a></li>
                <li><a href="{% url 'create_account' %}">Create Account</a></li>
            </ul>
        </header>
        <main>
            <h1>Number of receipts</h1>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Number</th>
                        <th>Number of Receipts</th>

                    </tr>
                </thead>
                <tbody>
                    {% for data in account %}
                    <tr>
                        <td>{{ data.name }}</td>
                        <td>{{ data.number }}</td>
                        <td>{{ data.receipts.all|length }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </main>
    </body>
</html>
