<!DOCTYPE html>
<html>
    <head>
        <title>

        </title>
    </head>
    <body>
        <header>
            <ul>
                <li><a href="{% url 'home' %}">My Receipts</a></li>
                <li><a href="{% url 'create_receipt' %}">Create Receipt</a></li>
                <li><a href="{% url 'category_list' %}">Category List</a></li>
                <li><a href="{% url 'account_list' %}">Account List</a></li>
                <li><a href="{% url 'create_category' %}">Create Category</a></li>
                <li><a href="{% url 'create_account' %}">Create Account</a></li>
            </ul>
        </header>
        <main>
            <h1>My Receipts</h1>
            <table>
                <thead>
                    <tr>
                        <th>Vendor</th>
                        <th>Total</th>
                        <th>Tax</th>
                        <th>Date</th>
                        <th>Category</th>
                        <th>Account</th>
                    </tr>
                </thead>
                <tbody>
                    {% for data in receipt %}
                    <tr>
                        <td>{{ data.vendor }}</td>
                        <td>{{ data.total }}</td>
                        <td>{{ data.tax }}</td>
                        <td>{{ data.date|date:"m/d/y" }}</td>
                        <td>{{ data.category.name }}</td>
                        <td>{{ data.account.name }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </main>
    </body>
</html>
